<?xml version="1.0" encoding="utf-8"?>

<launch>

<!--<node name="nmea_serial_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver" args="/dev/ttyACM0">

</node>

<node name="fix_translator_node" pkg="gps_common" type="utm_odometry_node" args="100 100">

</node>
-->

<include file="$(find ublox_gps)/launch/ublox_device.launch">
</include>

<include file="$(find gps_common)/launch/fix_translator.launch">
</include>


<!--<include file="$(find robot_localization)/launch/navsat_transform_template.launch">
</include>

<include file="$(find e2box_imu)/launch/e2box_imu.launch">
</include>-->

<rosparam command="load"
              file="$(find ublox_gps)/config/zed_f9p.yaml" />


</launch>



